index.vtl

<h1>Custom Dictionary</h1>

<a class="btn btn-default" href="/words">View the list of word in our dictionary</a>
<a class="btn btn-default" href="/words/new">Add a new Word to the dictionary</a>
