word.vtl

<h3>Here are all the definitions for $word.getWord():</h3>

#foreach($definition in $word.getDefinitions())
 <h3>$definition.getDefinition()</a></h3>
#end

<a class="btn btn-default" href="/words/$word.getId()/definitions/new">Add a new Definition</a>
<a class="btn btn-default" href="/">Return to Main Page</a>
