word.vtl

<h3>Here are all the definitions for this word:</h3>

#foreach($definition in $word.getDefinitions())
 <h3>$definition.getDefinition()</a></h3>
#end

<a href="/words/$word.getId()/definitions/new">Add a new Definition</a>
<a href="/">Return to Main Page</a>
