word-form.vtl

<h1>Add a Word to our Dictionary</h1>

<p>
  Add a Words here:
</p>

<form action="/words" method="post">
  <label for="name">Word Name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Word</button>
</form>
